.cryptshield-panel {
  spacing: 5px;
  padding: 0 6px;
}

.cryptshield-panel-label {
  font-size: 12px;
  font-weight: 600;
}

.cryptshield-panel-icon-active {
  color: #57e389;
}

.cryptshield-panel-icon-inactive {
  color: #c0bfbc;
}

.cryptshield-subtitle {
  color: #9a9996;
  font-size: 12px;
}
